# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/src
/dist
/example
/.vscode
/docs

# Tests
*.test.ts
*.test.tsx
*.test.js
*.test.jsx
*.test.d.ts
*.snap
jest.config.ts
__mocks__

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# configuration
.eslintrc.js
.eslintrc
.eslintignore
tsconfig.json
tsconfig-build.json
.gitignore
.prettierrc
.prettierignore
.github
.editorconfig
.husky
.release-it.json
commitlint.config.js
babel.config.js
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md